<mat-card class="header-container">
  <label>Chosen level: </label>{{ level | titlecase }}
  <br />
  <label>Status: </label>
  <span
    [ngClass]="{
      won: status === allowedStatus.WIN,
      lost: status === allowedStatus.LOSE,
      playing: status === allowedStatus.PLAYING
    }"
    >{{ status | statusUi | titlecase }}</span
  >
  <br />
  <label>Flags: </label>{{ flags }}
</mat-card>
