<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/setup">New Game</button>
  <button mat-button routerLink="/scores">Scores</button>
</mat-toolbar>
