<mat-card class="card-container">
  <div class="radio-container">
    <label>Difficulty:</label>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button
        *ngFor="let option of options"
        [value]="option"
        [checked]="option === level.level"
        (change)="updateLevel(option)"
        >{{ option | titlecase }}</mat-radio-button
      >
    </mat-radio-group>
  </div>

  <div>
    <mat-form-field class="example-form-field">
      <mat-label>Columns</mat-label>
      <input
        [disabled]="level.level !== predefinedLevels.CUSTOM"
        matInput
        [(ngModel)]="level.columns"
      />
      <button
        [disabled]="level.level !== predefinedLevels.CUSTOM"
        mat-button
        *ngIf="level.columns"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="level.columns = 0"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Rows</mat-label>
      <input
        [disabled]="level.level !== predefinedLevels.CUSTOM"
        matInput
        [(ngModel)]="level.rows"
      />
      <button
        [disabled]="level.level !== predefinedLevels.CUSTOM"
        mat-button
        *ngIf="level.rows"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="level.rows = 0"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Mines</mat-label>
      <input
        [disabled]="level.level !== predefinedLevels.CUSTOM"
        matInput
        [(ngModel)]="level.mines"
      />
      <button
        [disabled]="level.level !== predefinedLevels.CUSTOM"
        mat-button
        *ngIf="level.mines"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="level.mines = 0"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    color="primary"
    routerLink="/board"
    [disabled]="!(!!level.rows && !!level.columns && !!level.mines)"
    (click)="startGame()"
  >
    Start
  </button>
</mat-card>
