.card-container {
  display: flex;
  flex-direction: column;
}

.radio-container {
  margin-bottom: 10px;
}

.mat-radio-button {
  margin: 0 12px;
}

.mat-form-field,
label {
  margin-left: 8px;
  width: 150px;
}
