table,
td {
  border: 1px solid grey;
  border-collapse: collapse;
}
td {
  width: 32px;
  height: 32px;
}

.svg-icon {
  width: 24px;
  height: 24px;
}

.tile-content-1 {
  color: #ff00af;
}

.tile-content-2 {
  color: #47f01c;
}

.tile-content-3 {
  color: #ffa333;
}

.tile-content-4 {
  color: #990303;
}
