<table mat-table [dataSource]="scores" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Start</th>
    <td mat-cell *matCellDef="let element">
      {{ element.startTime | date: dateFormat }}
    </td>
  </ng-container>

  <ng-container matColumnDef="endTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>End</th>
    <td mat-cell *matCellDef="let element">
      {{ element.endTime | date: dateFormat }}
    </td>
  </ng-container>

  <ng-container matColumnDef="difficulty">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Difficulty</th>
    <td mat-cell *matCellDef="let element">
      {{ element.difficulty | titlecase }}
    </td>
  </ng-container>

  <ng-container matColumnDef="totalTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
    <td mat-cell *matCellDef="let element">
      {{ element.totalTime | date: timeSpentFormat }}
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let element">{{ element.status | titlecase }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data</td>
  </tr>
</table>
